In [1]:
import numpy as np
import pandas as pd

# **Step 0**

###**Reading the dataset**

In [2]:
data = pd.read_excel('Energy Indicators.xls')

In [3]:
data.head(10) #Reading the data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Andorra
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
9,NaN,NaN,NaN,Petajoules,Gigajoules,%

##**Handling unneeded columns and renaming columns**

In [4]:
Energy = data.copy()

In [5]:
Energy.drop(['Unnamed: 0','Unnamed: 1'], axis=1, inplace=True)

In [6]:
Energy.drop(index=Energy.index[:17], axis=0, inplace=True)

In [7]:
Energy.rename(columns = {'Unnamed: 2': 'Country','Unnamed: 3':'Energy Supply','Unnamed: 4':'Energy Supply per capita','Unnamed: 5':'% Renewable'}, inplace=True)

In [8]:
Energy.drop(index=Energy.tail(38).index, axis=0, inplace=True)

In [9]:
Energy #Validating the final result

,Country,Energy Supply,Energy Supply per capita,% Renewable
17,Afghanistan,321,10,78.66928
18,Albania,102,35,100
19,Algeria,1959,51,0.55101
20,American Samoa,...,...,0.641026
21,Andorra,9,121,88.69565
...,...,...,...,...
239,Viet Nam,2554,28,45.32152
240,Wallis and Futuna Islands,0,26,0
241,Yemen,344,13,0
242,Zambia,400,26,99.71467
243,Zimbabwe,480,32,52.53612

## **Converting `Energy Supply` to *gigajoules***

In [10]:
Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x:x*1000000)

In [11]:
Energy.Country = Energy.Country.str.replace('\d+', '') #Removing numeric values next to Country's name

<ipython-input-11-7c6e0aee4547>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Energy.Country = Energy.Country.str.replace('\d+', '') #Removing numeric values next to Country's name

In [12]:
Energy.set_index('Country', inplace=True)

In [13]:
#Smoothening Country Names
Energy.rename(index={"Republic of Korea": "South Korea",
                   "United States of America": "United States",
                   "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                   "China, Hong Kong Special Administrative Region": "Hong Kong",
                   "Bolivia (Plurinational State of)":"Bolivia",
                   "Switzerland17":"Switzerland",
                 "Falkland Islands (Malvinas)":"Falkland Islands",
                 "Iran (Islamic Republic of)":"Iran",
                 "Micronesia (Federated States of)":"Micronesia",
                 "Sint Maarten (Dutch part)":"Sint Maarten",
                 "Venezuela (Bolivarian Republic of)":"Venezuela"}, inplace=True)

In [14]:
Energy.reset_index(inplace=True)

In [15]:
Energy.head(50) #Validating the changes

,Country,Energy Supply,Energy Supply per capita,% Renewable
0,Afghanistan,321000000,10,78.66928
1,Albania,102000000,35,100
2,Algeria,1959000000,51,0.55101
3,American Samoa,.................................................,...,0.641026
4,Andorra,9000000,121,88.69565
5,Angola,642000000,27,70.90909
6,Anguilla,2000000,136,0
7,Antigua and Barbuda,8000000,84,0
8,Argentina,3378000000,79,24.06452
9,Armenia,143000000,48,28.23606
10,Aruba,12000000,120,14.87069
11,Australia,5386000000,231,11.81081
12,Austria,1391000000,164,72.45282
13,Azerbaijan,567000000,60,6.384345
14,Bahamas,45000000,118,0
15,Bahrain,574000000,425,0
16,Bangladesh,1625000000,10,1.966329
17,Barbados,19000000,69,0
18,Belarus,1142000000,120,0.463389
19,Belgium,2338000000,210,9.959739
20,Belize,13000000,39,64.69003
21,Benin,170000000,16,0
22,Bermuda,6000000,88,0
23,Bhutan,63000000,83,100
24,Bolivia,336000000,32,31.47712
25,"Bonaire, Sint Eustatius and Saba",5000000,213,0
26,Bosnia and Herzegovina,266000000,70,41.46467
27,Botswana,86000000,39,0.131406
28,Brazil,12149000000,59,69.64803
29,British Virgin Islands,2000000,85,0
30,Brunei Darussalam,127000000,310,0.045434
31,Bulgaria,703000000,97,17.23461
32,Burkina Faso,164000000,10,14.50068
33,Burundi,58000000,6,86.79245
34,Cabo Verde,7000000,15,21.22762
35,Cambodia,250000000,17,57.31159
36,Cameroon,307000000,14,70.88626
37,Canada,10431000000,296,61.94543
38,Cayman Islands,8000000,131,0
39,Central African Republic,23000000,5,85.63536
40,Chad,77000000,6,0
41,Chile,1613000000,92,28.00657
42,China,127191000000,93,19.75491
43,Hong Kong,585000000,82,0
44,"China, Macao Special Administrative Region",47000000,83,0
45,Colombia,1513000000,32,63.00284
46,Comoros,5000000,7,11.62791
47,Congo,102000000,23,57.74887
48,Cook Islands,1000000,48,0
49,Costa Rica,222000000,47,88.73642

#**Step 1**
##**Importing another dataset `world_bank.csv`**

In [16]:
data_2 = pd.read_csv('world_bank.csv', header=None)
GDP = data_2.copy()

##**Handling Column names and unwanted rows**

In [17]:
GDP.drop(index=GDP.index[:4], inplace=True)

In [18]:
GDP.columns = GDP.iloc[0] #Choosing first row to become table's columns

In [19]:
GDP.drop(index=GDP.index[0], inplace=True) #Dropping the row that became table's columns

In [20]:
GDP.head() #Validating the results

4,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0
5,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
6,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
7,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
8,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
9,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

##**Replacing the names of the following countries**
`"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"`

In [21]:
GDP.rename(columns={'Country Name':'Country'}, inplace=True) #Renaming column country name to country to match Energy DataFrame
GDP.set_index('Country', inplace=True)
GDP.rename(index={"Korea, Rep.": "South Korea",
                 "Iran, Islamic Rep.": "Iran",
                 "Hong Kong SAR, China": "Hong Kong"}, inplace=True)

In [22]:
GDP.reset_index(inplace=True)

In [23]:
GDP['Country'].iloc[123] #Validating the changes

'South Korea'

#**Step 2**
##**Importing another dataset `scimagojr-3.xlsx`**

In [24]:
data_3 = pd.read_excel('scimagojr-3.xlsx')
ScimEn = data_3.copy()

In [25]:
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

#**Step 3**
##**Merging the 3 datasets together on join key `Country`**

In [26]:
Merged = pd.merge(pd.merge(Energy,
                           GDP[['Country',2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0]], on = 'Country'),
                  ScimEn.where(ScimEn['Rank'] <= 15), on = 'Country')

In [27]:
Merged.set_index('Country', inplace=True) #Setting an index using the Country column

In [28]:
Merged.shape #Validating the right number of columns and rows

(15, 20)

#**Step 4**
##**Figuring out the number of entries that got cut off in case on `inner join` without the above conditions**

In [55]:
Outer_Merging = pd.merge(pd.merge(Energy, GDP, on='Country', how='outer'),
                           ScimEn, on= 'Country', how='outer', indicator=True) #Joing the data through Outer Join
Inner_Merging = pd.merge(pd.merge(Energy, GDP, on='Country'),
                         ScimEn, on='Country')

In [56]:
len(Outer_Merging)-len(Inner_Merging)

158

#**Step 5**
##**What is the average GDP over the last 10 years for each country?**
*Excluding Duplicates*

In [57]:
GDP_Copy = Merged[[2015.0,2014.0,2013.0,2012.0,2011.0,2010.0,2009.0,2008.0,2007.0,2006.0]].dropna().copy() #Taking a copy of the past 10 years and Country columns

In [58]:
avgGDP = GDP_Copy[[2015.0,2014.0,2013.0,2012.0,2011.0,2010.0,2009.0,2008.0,2007.0,2006.0]].apply(np.mean, axis=1).sort_values(ascending= False)

In [59]:
avgGDP #Retrieving the values

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
dtype: float64

#**Step 6**
##**What is the mean** `Energy Supply per Capita`**?**

In [60]:
Merged['Energy Supply per capita'].mean()

157.6

#**Step 7**
##**What country has the maximum `% Renewable` and what is the percentage?**

In [36]:
Max_Renewable = Merged[['% Renewable']]

In [37]:
Max_Renewable.reset_index() #Resetting index

               Country % Renewable
0            Australia    11.81081
1               Brazil    69.64803
2               Canada    61.94543
3                China    19.75491
4               France    17.02028
5              Germany    17.90153
6                India    14.96908
7                 Iran    5.707721
8                Italy    33.66723
9                Japan    10.23282
10         South Korea    2.279353
11  Russian Federation    17.28868
12               Spain    37.96859
13      United Kingdom    10.60047
14       United States    11.57098

In [38]:
Max_Renewable.sort_values(by='% Renewable', ascending=False).iloc[0] #Sorting DESC and Slicing the first column

% Renewable    69.64803
Name: Brazil, dtype: object

#**Step 8**
####***Create a new column that is the ratio of Self-Citations to Total Citations.***
####***What is the maximum value for this new column, and what country has the* *highest ratio?***

In [39]:
Merged['Citation Rate'] = Merged['Self-citations']/Merged['Citations'] #Finding the Ratio between Self-Citations and Citations

In [61]:
Citation_Rate_Copy = Merged[['Citation Rate']].sort_values(by='Citation Rate',ascending=False).copy() #Taking a copy of DESC sorted Citation Rate values

In [62]:
Citation_Rate_Copy.reset_index()

               Country  Citation Rate
0                China       0.689313
1   Russian Federation       0.362517
2        United States       0.335031
3                 Iran       0.332782
4                India       0.288973
5                Japan       0.275997
6                Italy       0.238364
7               Brazil       0.237159
8               France       0.218943
9          South Korea       0.197035
10             Germany       0.195111
11               Spain       0.194299
12              Canada       0.190369
13      United Kingdom       0.183773
14           Australia       0.171939

In [63]:
Citation_Rate_Copy.iloc[0] #Highest Ratio

Citation Rate    0.689313
Name: China, dtype: float64

#**Step9**
####**Create a new column with a 1 if the country's `% Renewable` value is at or above the median for all countries in the top 15, and a 0 if the country's `% Renewable value` is below the median.**

In [43]:
Merged['% Renewable Segments'] = np.NaN #Creating a new empty column

In [44]:
Merged['% Renewable Segments'] = (Merged['% Renewable'].gt(Merged['% Renewable'].median())).astype(int) #Appending 1 and 0 based on the median of % Renewable

In [45]:
Merged.sort_values(by= 'Rank', ascending=True, inplace=True)

In [64]:
HighRenew = Merged[['% Renewable','% Renewable Segments']] #Taking a copy of Country, % Renewable and % Renwable Segments columns

In [65]:
HighRenew.head() #Validating the answer

                   % Renewable  % Renewable Segments
Country
China                 19.75491                     1
United States         11.57098                     0
Japan                 10.23282                     0
United Kingdom        10.60047                     0
Russian Federation    17.28868                     1

#**Step 10**
####**Creating a new dataframe that has the Continents, Sample size, sum, mean and std of estimated population of each country**

In [66]:
Merged['Population'] = Merged['Energy Supply']/Merged['Energy Supply per capita'] #Calculating the population

In [67]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

Merged['Continent'] = pd.Series(ContinentDict) #Assigning each continent to each country in the table

In [68]:
Merged.head() #Validating the changes

,Energy Supply,Energy Supply per capita,% Renewable,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,...,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Citation Rate,% Renewable Segments,Population,Continent
Country,,,,,,,,,,,,,,,,,,,,,
China,127191000000,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,127050.0,126767.0,597237.0,411683.0,4.70,138.0,0.689313,1,1367645161.290323,Asia
United States,90838000000,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,96661.0,94747.0,792274.0,265436.0,8.20,230.0,0.335031,0,317615384.615385,North America
Japan,18984000000,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,30504.0,30287.0,223024.0,61554.0,7.31,134.0,0.275997,0,127409395.973154,Asia
United Kingdom,7920000000,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,20944.0,20357.0,206091.0,37874.0,9.84,139.0,0.183773,0,63870967.741935,Europe
Russian Federation,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,18534.0,18301.0,34266.0,12422.0,1.85,57.0,0.362517,1,143500000.0,Europe

In [69]:
Merged.set_index('Continent')

,Energy Supply,Energy Supply per capita,% Renewable,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,...,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Citation Rate,% Renewable Segments,Population
Continent,,,,,,,,,,,,,,,,,,,,,
Asia,127191000000,93,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,...,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0,0.689313,1,1367645161.290323
North America,90838000000,286,11.57098,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,...,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0,0.335031,0,317615384.615385
Asia,18984000000,149,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,...,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0,0.275997,0,127409395.973154
Europe,7920000000,124,10.60047,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,...,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0,0.183773,0,63870967.741935
Europe,30709000000,214,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,...,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0,0.362517,1,143500000.0
North America,10431000000,296,61.94543,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,...,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0,0.190369,1,35239864.864865
Europe,13261000000,165,17.90153,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,...,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0,0.195111,1,80369696.969697
Asia,33195000000,26,14.96908,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,...,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0,0.288973,0,1276730769.230769
Europe,10597000000,166,17.02028,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,...,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0,0.218943,0,63837349.39759
Asia,11007000000,221,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,...,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,0.197035,0,49805429.864253
Europe,6530000000,109,33.66723,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,...,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0,0.238364,1,59908256.880734
Europe,4923000000,106,37.96859,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,...,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0,0.194299,1,46443396.226415
Asia,9172000000,119,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,...,13.0,8896.0,8819.0,57470.0,19125.0,6.46,72.0,0.332782,0,77075630.252101
Australia,5386000000,231,11.81081,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,...,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0,0.171939,0,23316017.316017
South America,12149000000,59,69.64803,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,...,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0,0.237159,1,205915254.237288

In [70]:
Continent = Merged.reset_index().groupby('Continent')['Population'].agg([np.size,np.mean,np.std]) #Grouping the data based on the continent and running aggregations on the newly calculated Population column

In [71]:
Continent.head() #Validating the result

               size          mean           std
Continent
Asia              5  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07           NaN
Europe            6  7.632161e+07  3.464767e+07
North America     2  1.764276e+08  1.996696e+08
South America     1  2.059153e+08           NaN